.container4 {
    width: 80%;
    margin: 0 auto;
    padding: 60px;
    background-color: #f4f4f4;
    text-align: center;
}

.about-us {
    margin-top: 40px;
    text-align: center;
}
.qr{
  width: 200px;
}


.about-us h2 {
    font-size: 24px;
    color: #333;
}

.about-us p {
    font-size: 16px;
    color: #666;
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

.ngs {
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ngs-text {
    width: 50%;
}

.ngs-text h2 {
    text-align: center;
    padding-bottom: 20px;
}

.ngs-text p {
    text-align: justify;
    text-justify: inter-word;
}

.image-container {
    width: 50%;
    text-align: center;
}

.image-container img {
  
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    
}

.image-container p {
 
  margin-bottom: 2px;
}

/* .image-container img {
  display: block;
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  filter: blur(8px); /* Adjust the blur radius as desired */
} */

.styled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.styled-list li {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.styled-list li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #748F00;
  margin-right: 10px;
}

.styled-list li:last-child {
    margin-bottom: 0;
}

.styled-list-update {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.styled-list-update li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.styled-list-update li::before {
  content: counter(list-item, upper-roman) ".";
  counter-increment: list-item;
  margin-right: 10px;
  font-weight: bold;
  align-self: flex-start;
  flex-shrink: 0;
}


.container1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .box {
    display: inline-block;
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .box h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .box form {
    display: flex;
    justify-content: center;
  }
  
  button[type="submit"] {
    padding: 10px;
    /* background-color: #748F00; */
    color: #fff;
    border: none;
   
    font-size: 16px;
    cursor: pointer;
  }
  


  .custom-list {
    list-style-type: none;
    text-align: left;
    margin-top: 20px;
    padding: 0;
  }
  
  .custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .custom-list li:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #748F00;
    border-radius: 50%;
  }
  
  .custom-list li:last-child {
    margin-bottom: 0;
  }
  


  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fffcec;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.label-group {
    display: block;
    margin-bottom: 5px;
}

.inline-group {
    display: flex;
}

.inline-group-item {
    flex: 1;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    width: 36%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    appearance: none;
    background-repeat: no-repeat;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
  font-weight: bold;
    display: block;
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #748F00;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}




.contact-container {
margin-left: 12px;
margin-top: 20px;
  width: 1200px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
}

.contact-info {
  text-align: center;
  padding: 50px;
}

.contact-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 0;
}

.fa-map-marker-alt,
.fa-phone,
.fa-envelope {
  margin-right: 5px;
  color: #748F00; /* Updated color */
}


/* Add desired styling to the table */

.table-row {
  display: flex;
  justify-content: space-between;
}

.table-container {
   /* Adjust this value as needed to control the width of each table */
  margin-bottom: 40px; /* Optional: Add some spacing between the tables */
}

.styled-table {
  width: 90%;
  border: 5px solid #748F00;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensures the border-radius is applied to the table */
}

.styled-table th,
.styled-table td {
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

.caption-text-bold {
  text-align: center;
  font-weight: bold;
}


.styled-table th {
  background-color: #748F00;
  color: #fff;
}

.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table td {
  text-align: justify;
}


.caption-text-bold {
  margin: 10px;
  font-size: small;
  text-align: center !important;
  font-weight: bold;
}
.styled-table td:nth-child(2) {
  background-color: #f2f2f2;
  padding: 10px;
  position: relative;
  font-size: large;
}

.styled-table td:nth-child(2) b {
  transform: rotate(-90deg);
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.styled-table td:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: #748F00;
}







.styled-table-new {
  width: 90%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.styled-table-new td {
  padding: 4px;
  text-align: left;
  border: 1px solid #ddd;
  width: 50%;
}

.styled-table-new th {
  padding: 13px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.styled-table-new tr:nth-child(even) {
  background-color: #f2f2f2;
}


.styled-table-new th[colspan="2"] {
  background-color: #52610f;
}

.styled-table-new td {
  background-color: #fff;
  font-size: small;
  padding-left: 5px;
}


.styled-table-new tbody td::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #748F00;
  transition: opacity 0.3s ease;
}



.styled-table-new tbody td:before,
.styled-table-new tbody td:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #748F00;
  opacity: 0;
  transition: opacity 0.3s ease;
}


/* Custom background colors for table data */
.styled-table-new tbody td:nth-child(2n) {
 background-color: #fffcec;
}

.styled-table-new tbody td:nth-child(2n+1) {
  background-color: #fffcec;
}

/* Styling for the 'Price' row */
.styled-table-new tbody tr.price-row td {
  text-align: center;
  font-size: large;
  font-weight: bold;
  background-color: #ffeda3;
}

.button-new{
  background-color: #748F00;
  color: #fff;
  font-weight: bold;
}

.table-container {
  display: flex;
 }


.form-container5 {
  
  padding: 10px;
}

.map-container {
  flex: 1;
  padding: 15px;
  position: relative;
  margin: 12px;
  
}

.map-container iframe {
  width: 100%;
  height: 100%;
}



.form-group {
  margin-bottom: 10px;
}

.breadcrumb-bar-two {
 
  background-repeat: repeat!important;
}

.container7 {
  width: 98%;
  margin: 0 auto;
  padding: 20px;
 
  text-align: center;
}

/* contact page */

/* Styling the form container */
.contact {
  width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Styling form labels */
.contact label {
  display: block;
  margin-bottom: 3px;
  text-align: left;
  
}

/* Styling form inputs */
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact select,
.contact textarea {
  width: 100%;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Styling the submit button */
.contact input[type="submit1"] {
  background-color: #4CAF50;
  color: white;
  width: 100%;
  border: none !important;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

/* Styling the submit button on hover */
.contact input[type="submit1"]:hover {
  background-color: #45a049;
}

/* Styling error messages for required fields */
.contact input:invalid,
.contact select:invalid,
.contact textarea:invalid {
  border: 1px solid #ccc;
}

/* Styling the select dropdown arrow */
.contact select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" style="vertical-align: middle;"><path d="M7 10l5 5 5-5z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 24px;
}

.blog-title {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  color: #2c1414;
  
  letter-spacing: 1px;
  margin-bottom: 20px;
  
}


.raaz{
  width: 100%;
}

/* .form1-control{
  width: 60%;
}
.form1-control{
  border-color:#dcdcdc;
  color:#333;
  font-size:15px;
  min-height:46px;
  padding:6px 15px
} */

.input-group{
  width: 200px;
}

.input-group-append{
  width: 70px;
  height: 10px;
  margin-left: 5px;
}

.wah{
  background-color:#0de0fe;
}

.time-slots-container{
  width: 100% !important;
  padding-left: 42px;
}

#customButton {
  background-color: #748f00;
  color: #ffffff; 
  border-color: #ff0000;
  width: 150px;
 
}

.package-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.package-column {
  width: 100%;
}

.package-list {
  list-style-type: none;
  padding-left: 0;
}

.package-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.package-list li:before {
  content: "\2022";
  position: absolute;
  left: 0;
  color: #748F00 /* You can change the color to your preference */
}

.package-image{
  border-radius: 5px;
}

.big-letter {
  font-size: 2em;
  color: #748F00;
}



/* #scheduleButton{
  background-color: #748f00;
  color: #ffffff; 
  width: 150px;
  height: 30px;
 
  align-items: center;
  justify-content: center;
} */

#searchbutton{
  
  padding: 5.5px;
  display: flex;
  justify-content: center;
}

.date-input{
  height: 32px;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  margin-right: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-group {
  margin-right: 10px;
}

#customButtonNew {
    background-color: #748f00;
    color: #ffffff;
    border-color: #748f00;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
        margin-top: 20%;
 
}

@media(max-width:767.98px){
  #customButtonNew {
    background-color: #748f00;
    color: #ffffff; 
    border-color: #748f00;
    /* width: 310px; */
    padding: 5px;
   
  }
}

#customButtonUpdate {
  background-color: #748f00;
  color: #ffffff; 
  border-color: #748f00;
  /* width: 100px; */
  padding: 5px;
  font-size: 10px;
}

#customButtonUpdate1 {
  background-color: #748f00;
  color: #ffffff; 
  border-color: #748f00;
  width: 100px;
  padding: 5px;
 margin-left: 80px !important;
 margin-top: 5px !important;
}

#customButtonSlot {
  background-color: #434e12;
  color: #ffffff; 
  width: 120px;
  font-size: 15px !important;
  border: none !important;
  padding: 0.5px;
 
}

.custom-line {
  border: none;
  height: 2px;
  background-color: #748F00 ; /* Replace with your desired color */
}


/* Mobile view header */

@media (max-width: 767px) {
  /* Mobile-specific CSS styles here */
  /* You may need to adjust the styles to make the dropdowns visible on mobile view */
  .dropdown-menu {
      display: block !important;
      color: #2c1414 !important;
  }
}

@media (max-width: 991.98px){
  .topnav-dropdown-header{
    background-color: #fffcec;
    display: none;
  }
}

@media (max-width: 991.98px){
  .shopping-cart{
    background-color: #fffcec;
    display: none;
  }
}

@media (max-width: 991.98px){
  .shopping-cart{
    background-color: #fffcec;
    display: none;
  }
}
        /* Base styles for the form */
        .contact {
          max-width: 600px; /* Adjust the max-width as per your design */
          margin: 0 auto;
          padding: 20px;
        }
      
        /* Adjust styles for smaller screens */
        @media only screen and (max-width: 600px) {
          .contact {
            max-width: 100%; /* Full width on smaller screens */
          }
      
          /* Adjust input and textarea width to fill the container */
          .contact input[type="text"],
          .contact input[type="email"],
          .contact input[type="tel"],
          .contact select,
          .contact textarea {
            width: 100%;
          }
        }

        /* .container {
          max-width: 1200px;
          margin: 0 auto;
          padding: 20px;
        } */
      
        .ngs {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 40px;
        }
      
        .ngs-text {
          flex-basis: 60%;
          padding-right: 20px;
        }
      
        .image-container {
          flex-basis: 30%;
          text-align: center;
        }
      
        .image-container img {
          max-width: 100%;
          height: auto;
        }
      
        @media only screen and (max-width: 768px) {
          .ngs-text,
          .image-container {
            flex-basis: 100%;
            text-align: left;
          }
      
          .image-container {
            margin-top: 20px;
          }
        }

        .row {
          margin: 0 -15px;
        }
      
        .col-sm-12 {
          padding: 0 15px;
        }
      
        .card-body {
          /* overflow-x: auto; */
        }
      
        table {
          width: 100%;
          border-collapse: collapse;
        }
      
        th,
        td {
          padding: 8px;
          border: 1px solid #ccc;
        }
      
        th {
          background-color: #f2f2f2;
        }
      
        /* Adjust table styles for smaller screens */
        @media only screen and (max-width: 768px) {
          th,
          td {
            font-size: 14px;
          }
        }

        .col-md-12 {
          /* Set padding to zero to minimize the gap */
          /* padding: 15px; */
      }
  
      .custom-line {
          /* Set margin to zero to minimize the gap */
          margin: 0;
          margin-bottom: 15px;
      }
  
      .custom-font {
          /* Apply the desired font style */
          font-family: ùïªùñóùñäùñõùñéùñäùñú;
          font-size: 14px;
          font-style: italic;
          /* You can add more custom styling as per your preference */
      }
     
      .content1{
        min-height:200px;
        padding:5px 0;
    }

    @media (max-width: 767.98px){
    .contact-form {
      width: 300px;
      
      background-color: #fffcec;
      
      border: 1px solid #ccc;
      border-radius: 10px;
      font-family: Arial, sans-serif;
     
  }

  .container7 {
    width: 100%;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
  }

  .contact-container {
    

      width: 335px;
      height: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .contact-info {
      text-align: center;
      padding: 1px;
      
    }

    .contact-info h3 {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .contact-info p {
      font-size: 10px;
      margin: 0;
    }
    #customButtonCheckout {
      background-color: #748f00;
      color: #ffffff; 
      border-color: #748f00;
      width: 1120px;
      padding: 5px;
     
    }
    #customButtonNew2 {
      background-color: #748f00;
      color: #ffffff; 
      border-color: #748f00;
      width: 45px;
      padding: 5px;
     
    }
    #add_btn {
      background-color: #748f00;
      color: #ffffff; 
      border-color: #748f00;
      width: 45px;
      padding: 5px;
     
    }
    .customButtonConfirm {
      background-color: #748f00;
      color: #ffffff; 
      border-color: #748f00;
      margin-left: 115px;
      width: 180px;
      padding: 5px;
      font-size: 14px;
    }
    
}
    


















  

  
  
  
  

